CONFIG_CMDLINE="consoleblank=0 console=ttyS0,115200n8 vt.global_cursor_default=0 video=HDMI-A-1:800x600@60 video=HDMI-A-2:800x600@60 radeon.audio=1 radeon.dpm=1 zswap.enabled=1 zswap.compressor=lz4 pcie_acs_override=downstream memmap=2M$0x8000000 ramoops.mem_address=0x8000000 ramoops.mem_size=0x200000 ramoops.console_size=0x100000"
CONFIG_QND_ETH_MELLANOX_MLX=m
CONFIG_QND_ETH_MELLANOX_MLX_VERSION="4.3"
CONFIG_QND_ETH_BNXT_RE=m
CONFIG_QND_ETH_BNXT_RE_VERSION="212.0.103.0"
CONFIG_IRQ_POLL=y
# CONFIG_DRM_AMDGPU is not set
# CONFIG_DRM_I810 is not set
# CONFIG_DRM_I915 is not set
# CONFIG_FB_INTEL is not set

CONFIG_DRM_RADEON=y
CONFIG_DRM_RADEON_USERPTR=y

CONFIG_QND_FC=y
CONFIG_QND_ATTO_CELERITY=m
CONFIG_QND_ATTO_CELERITY_VERSION="1770f1"
CONFIG_QND_ATTO_LIO=m
CONFIG_QND_ATTO_LIO_VERSION="1.00.0f1"

CONFIG_LIBFC=m
CONFIG_SCSI_QLA_FC=m
CONFIG_TCM_QLA2XXX=m
CONFIG_BTREE=y
